html, body {
    height: 100%;
    margin: 0;
}

.container, .row, .col {
    width: 116%;
    height: 100%;
    padding: 0;
    margin: 0; /* Remova margens se necessário */
}

#side-photo {
    background-image: url("/app/View/registro/img/backgroung.png");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir completamente a área */
    background-position: center; /* Centraliza a imagem dentro do contêiner */
    height: 100%;
}
